:root {
    --violeta: hsl(257, 40%, 49%);
    --magentaSuave: hsl(300, 69%, 71%);

    --fuentebody: 'Poppins', sans-serif;
    --fuenteheading: 'Open Sans', sans-serif;


}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



body {
    font-family: var(--fuentebody);
    background-color: var(--violeta);
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

h1 {
    font-weight: 600;
    /* font-family: var(--fuenteheading); */
}

p {
    font-family: var(--fuentebody);
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.header {
    margin-top: 8rem;
    margin-left: 3rem;
}

.header__logo {
    width: 15rem;
}

@media (min-width: 768px) {
    .header__logo {
        width: 20rem;
    }
}

.contenedor-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    gap: 4rem;
}

@media (min-width: 768px) {
    .contenedor-principal {
        flex-direction: row;

    }
}




.contenedor-principal__imagen {
    max-width: 30rem;
}

@media (min-width: 768px) {
    .contenedor-principal__imagen {
        max-width: 60rem;
    }
}

.contenedorTexto {
    width: 25rem;
    color: white;
    text-align: center;

}

@media (min-width: 768px) {
    .contenedorTexto {
        width: 30%;
        text-align: left;
        font-size: 1.5rem;
    }
}

.boton {
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: var(--violeta);
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem 9rem;
    border-radius: 5rem;

}

@media (min-width: 768) {
    .boton {
        font-size: 1.5rem;
        margin-top: 1rem;
        padding: 2rem 6rem;
        border-radius: 5rem;
    }
}

.footer {
    display: flex;

    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    
    margin-top: 15rem;
   
    
    
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer__logo {
    width: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.footer__logo:last-of-type {
    margin-right: 5rem;
}